<p>Добрый день, {{contactName}}!</p>
<p>Для Вас был создан рекламный кабинет в рекламной системе {{systemName}}, <br />
Наименование кабинета: {{ accountName }}<br />
Логин: {{login}}<br />
Пароль: {{password}}<br />
С уважением, команда Wunder Pay.</p>