<p>Добрый день, {{ name }}!</p>
<p>
    Мы получили ваш запрос на перенос средств из {{fromSystem}} - {{fromAccount}} в
    {{ toSystem }} - {{ toAccount }} в размере {{amount}}.Пожалуйста, ожидайте.
    <br/>
    С уважением, команда Wunder Pay.
</p>